*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    
    display: flex;
    justify-content: center;
    align-items: center
}
.container{
   position: relative;
   top:100px;
   background-color: #11111146;
   width: 70%;
   height: 400px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
  
 
}
